.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  color: white;
}

h1 {
  color: blueviolet;
  width: fit-content;
}

body {
  background-color: black;
}
