@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  color: white;
  margin: 0;
  padding: 0;
}

.main {
  background: #222;
}

#pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  border-radius: 50%;
}

.name {
  padding-top: 5em;
  padding-bottom: 0.71em;
  margin: auto;
  text-align: center;
  color: #940e36;
}

body {
  font-family: "Montserrat", sans-serif;
  background-size: auto;
}

a {
  text-decoration: none;
}

#nav {
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
}

ul li {
  list-style-type: none;
}

ul li a {
  display: block;
  padding: 5px;
}
