@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  color: white;
}

#name {
  color: #940e36;
  width: fit-content;
  transform: translate(35%, -50%);
}

body {
  background: #222;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
